.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 20px;
  width: min(1000px, 90%);
  margin: auto;
  justify-items: center;
}

html, body {
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.column {
    padding: 10px;
}

.grid-container {
  margin-top: auto;
}

.NavBar {
    border-radius: 25px;
    background-color: #3c6e71;
    padding: 20px;
    width: 135px;
    height: 40px;
}

