.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.NavBar {
    border-radius: 25px;
    background-color: #3c6e71;
    padding: 20px;
    width: 135px;
    height: 40px;
}

.containerlinks {
    display: flex;
    justify-content: ;
    align-items: center;
    height: 20vh;
}

.containersocials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}