.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.column {
    padding: 10px;

}

.NavBar {
    border-radius: 25px;
    background-color: #3c6e71;
    padding: 20px;
    width: 135px;
    height: 40px;
}

